<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <title>Add Flight</title>
</head>
    <body>
        <div class="rezervare">
            <form action="/add-flight" method="post">
                <h1 class="title">Add Flight</h1>
                <input type="text" name="planeType" placeholder="Plane Type"/>
                <input type="text" name="seatsEconomy" placeholder="Seats Economy Class"/>
                <input type="text" name="seatsFirst" placeholder="Seats First Class"/>
                <input type="text" name="economyPrice" placeholder="Price Economy Class"/>
                <input type="text" name="firstPrice" placeholder="Price First Class"/>
                <input type="text" name="departureCity" placeholder="Departure City"/>
                <input type="text" name="arrivalCity" placeholder="Arrival City"/>
                <input type="text" name="departureHour" placeholder="Departure Hour"/>
                <input type="text" name="arrivalHour" placeholder="Arrival Hour"/>
                <input type="date" name="departureDate"/>
                <input type="date" name="arrivalDate"/>
                <input type="text" name="discountPercentageDus" placeholder="Discount Percentage Dus"/>
                <input type="text" name="discountPercentageIntors" placeholder="Discount Percentage Intors"/>
                <select name="flightType">
                    <option value="DUS">One-Way</option>
                    <option value="DUS_INTORS">Round Trip</option>
                </select>
                <button>Add Flight</button>
                <a th:href="@{/}">Cancel</a>
            </form>
        </div>
    </body>
</html>
