<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flights List</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Flights List</h1>

<table>
    <thead>
    <tr>
        <th>Flight Code</th>
        <th>Plane Type</th>
        <th>Total Seats</th>
        <th>Economy Price</th>
        <th>Standard Price</th>
        <th>Route</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.code}"></td>
        <td th:text="${flight.planeType}"></td>
        <td th:text="${flight.totalSeats}"></td>
        <td th:text="${flight.economyPrice}"></td>
        <td th:text="${flight.standardPrice}"></td>
        <td th:text="${flight.route}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
