<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
    <h1>iBilet</h1>
    <div th:if="${session.loggedInUser == null}">
        <a th:href="@{/login}">Login</a>
    </div>
    <div th:if="${session.loggedInUser != null}">
        <a th:href="@{/logout}">Log Out</a>
    </div>
    <div th:if="${session.loggedInUser != null}">
        <h2>Welcome, <span th:text="${session.loggedInUser.username}">User</span></h2>
        <div th:if="${session.loggedInUser.role == T(com.ibilet.entities.User.Role).AIRLINE}">
            <a th:href="@{/add-flight}">Add Flight</a>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Company</th>
                <th>Plane Code</th>
                <th>Departure Date</th>
                <th>Arrival Date</th>
                <th>Departure Hour</th>
                <th>Arrival Hour</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.companyName}"></td>
                <td th:text="${flight.code}"></td>
                <td th:text="${flight.departureDate}"></td>
                <td th:text="${flight.arrivalDate}"></td>
                <td th:text="${flight.departureHour}"></td>
                <td th:text="${flight.arrivalHour}"></td>
                <td th:text="${flight.flightType}"></td>
                <td th:if="${session.loggedInUser != null && session.loggedInUser.role == T(com.ibilet.entities.User.Role).CLIENT}">
                    <form method="get" action="/ticket-buy">
                        <input hidden="hidden" th:value="${flight.code}" name="flightId"/>
                        <button class="button">Buy Ticket</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
