<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <link th:href="@{/style.css}" rel="stylesheet"/>
        <title>
            Rezervare Bilet
        </title>
    </header>
    <body class="rezervare">
        <form method="post" action="/rezervare-bilet">
            <p class="title">Pagina pentru rezervare bilet</p>
            <p class="error" style="text-align:center;" th:text="${error}"/>
            <input type="text" name="nume" placeholder="Nume"/>
            <input type="text" name="prenume" placeholder="Prenume"/>
            <input type="text" name="email" placeholder="E-Mail"/>
            <input type="text" name="telefon" placeholder="Telefon"/>
            <input type="text" name="varsta" placeholder="Varsta"/>
            <select name="tip_plata">
                <option name="cash">Cash</option>
                <option name="card">Card</option>
                <option name="iban">Virament Bancar</option>
            </select>
            <button type="submit">Rezerva</button>
            <button type="button">Renunta</button>
        </form>
    </body>
</html>