<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Search</p>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Company</th>
            <th>Plane Code</th>
            <th>Departure Date</th>
            <th>Arrival Date</th>
            <th>Departure Hour</th>
            <th>Arrival Hour</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight : ${flights}">
            <td th:text="${flight.companyName}"></td>
            <td th:text="${flight.code}"></td>
            <td th:text="${flight.departureDate}"></td>
            <td th:text="${flight.arrivalDate}"></td>
            <td th:text="${flight.departureHour}"></td>
            <td th:text="${flight.arrivalHour}"></td>
            <td th:text="${flight.flightType}"></td>
            <td th:if="${session.loggedInUser != null && session.loggedInUser.role == T(com.ibilet.entities.User.Role).CLIENT}">
                <form method="get" action="/ticket-buy">
                    <input hidden="hidden" th:value="${flight.code}" name="flightId"/>
                    <button class="button">Buy Ticket</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>