<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<nav class="nav">
    <h1>iBilet</h1>
    <div class="items">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/booking}">Search Flights</a>
        <div th:if="${session.loggedInUser == null}">
            <a th:href="@{/login}">Login</a>
        </div>
        <div th:if="${session.loggedInUser != null}">
            <a th:href="@{/logout}">Log Out</a>
        </div>
        <div class="items" th:if="${session.loggedInUser != null}">
            <div th:if="${session.loggedInUser.role == T(com.ibilet.entities.User.Role).AIRLINE}">
                <a th:href="@{/add-flight}">Add Flight</a>
            </div>

            <div th:if="${session.loggedInUser.role == T(com.ibilet.entities.User.Role).AIRLINE}">
                <a th:href="@{/staff}">Staff</a>
            </div>
        </div>
    </div>
</nav>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Optiune</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.firstName}"></td>
            <td th:text="${ticket.lastName}"></td>

            <td>
                <form method="post" action="/ticket-validate">
                    <input hidden="hidden" th:value="${ticket.id}" name="ticketId"/>
                    <button class="button">Validate</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
