<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <link th:href="@{/style.css}" rel="stylesheet"/>
        <title>
            Buy Ticket
        </title>
    </header>
    <body class="rezervare">
        <form method="post" action="/ticket-buy">
            <p class="title">Buy Ticket</p>
            <p class="error" style="text-align:center;" th:text="${error}"/>
            <input type="text" name="firstName" placeholder="Firstname"/>
            <input type="text" name="lastName" placeholder="Lastname"/>
            <input type="text" name="email" placeholder="E-Mail"/>
            <input type="text" name="phoneNumber" placeholder="Phone Number"/>
            <input type="text" name="age" placeholder="Age"/>
            <select name="paymentMethod">
                <option name="CASH">Cash</option>
                <option name="CARD">Card</option>
                <option name="IBAN">Bank Account</option>
            </select>
            <button type="submit">Buy</button>
            <button type="button">Cancel</button>
        </form>
    </body>
</html>